html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
}

body {
  color: #333;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 5rem;
  margin-top: 110px;
}

p {
  font-size: 2rem;
}

.container {
  margin: 0 auto;
  max-width: 1050px;
  padding: 40px;
}

.search-form {
  display: grid;
}

.input {
  font-size: 1.5rem;
  padding: 0.4rem 1rem;
  line-height: 2.5rem;
  border-radius: 15px;
  border: 1px solid #ddd;
  margin-bottom: 1.5rem;
}

.search-button {
  background-color: rgb(0, 0, 0.6);
  border-radius: 15px;
  color: white;
  padding: 0.8rem 2rem;
  border: 1px solid #333;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 240ms;
}

.search-button:hover {
  background-color: rgba(20, 147, 251, 0.8);
  border: 1px solid rgba(20, 147, 251, 0.8);
}

@media (min-width: 780px) {
  .search-form {
    grid-template-columns: 2fr 1fr auto;
    align-items: center;
    grid-gap: 0.8rem;
  }
  .input {
    margin-bottom: 0;
  }
}

table {
  width: 100%;
  margin: 50px 0px;
  color: rgb(46, 44, 44);
  border-spacing: 15px;

  border-collapse: collapse;
  background-color: white;
  text-align: left;
  box-shadow: 0 5px 10px gray;
}

thead {
  box-shadow: 0 5px 10px gray;
}

th {
  font-size: 20px;
  width: 245px;
  text-align: left;

  text-transform: uppercase;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  font-weight: 800;
}

td {
  width: 245px;
  font-size: 18px;

  padding: 2rem 2rem;
}

tr {
  margin-bottom: 17px;
}
